@media (min-width: 576px)
<style>
.feXOLv {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
<style>
.feXOLv {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
<style>
.kkOovn {
    line-height: 16px;
    padding: 60px 0px 40px;
}
<style>
body {
    margin: 0px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
}
<style>
html {
    line-height: 16px;
}
<style>
html {
    line-height: 1.15;
    text-size-adjust: 100%;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bOvSTC {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: white;
    top: 0px;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
<style>
body {
    margin: 0px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
}
<style>
html {
    line-height: 16px;
}
<style>
html {
    line-height: 1.15;
    text-size-adjust: 100%;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
<style>
*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
